@import "./header";
@import "./body";

//RESPONSIVE
@media  (min-width:200px)and(max-width:550px) {
    html{
        zoom: 90%;
    }
    .header{
        padding-left: 10px;
        padding-right: 10px;
        &__search{
            width: 95%;
        }
    }
    main{
        grid-template-columns: 98%;
        align-items: center;
    }
    .section{
        &__input{
            width: 98%;
            margin-left: 10px;
            margin-right: 10px;
            justify-content: center;
            align-items: center;
        }
    }

    .sectionr{
        width: 100%;
        margin-left: 10px;
        margin-right: 10px; 
    }

    .num{
        display: flex;
        gap: 10px;
        justify-content:center;
    }
    .footer{
        width: 100%;
    }
}
